* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgba(0, 81, 255, 0.876);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
body .titulo {
  display: flex;
  background-color: #55addf;
  height: 80px;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin: 50px;
  color: black;
  font: bold;
  font-size: 20px;
  text-transform: uppercase;
}
body .container {
  position: absolute;
  background-color: #55addf;
  width: 70vw;
  height: 50vh;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
body .leao,
body .cachorro,
body .coala,
body .gato,
body .girafa,
body .zebra {
  background-image: url(../img/CassiCheap.png);
  height: 150px;
  width: 150px;
  margin: 15px;
}
body .leao {
  background-image: url(../img/lion.jpg);
}
body .coala:hover {
  background-image: url(../img/coala.jpg);
  background-position: center;
}
body .girafa:hover {
  background-image: url(../img/girafa.jpg);
  background-position: center;
}
body .cachorro:hover {
  background-image: url(../img/cachorro.jpg);
  background-position: center;
}
body .gato:hover {
  background-image: url(../img/gato.jpg);
}
body .zebra:hover {
  background-image: url(../img/zebra.jpg);
  background-position: center;
}